<footer class="bg-gray-100 py-12 ">
    <div class="w-11/12 mx-auto max-w-7xl ">
        <h2 class="text-2xl font-semibold">Get Deglawy App</h2>
        <p class="text-gray-600 text-sm">We will send you a link. Open it on your phone to download the app.</p>

        <div class="flex flex-col md:flex-row items-center  gap-3 mt-4">
            <input type="email" class="w-full md:w-1/2 px-4 py-2 border border-gray-300 rounded-lg"
                placeholder="Enter your email" />
            <button class="bg-green-600 text-white px-6 py-2 rounded-lg hover:bg-green-700">
                Share App Link
            </button>
        </div>

        <hr class="my-6 border-gray-300" />

        <div class="flex flex-col md:flex-row justify-between items-center gap-4">

            <div class="flex items-center gap-3">
                <h3 class="text-sm font-medium">Payment Partners:</h3>
                <img src="/images/amazon-pay.png" width="70" alt="Amazon Pay" />
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/1026px-American_Express_logo_%282018%29.svg.png"
                    width="50" alt="American Express" />
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" width="60" alt="PayPal" />
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg" width="50"
                    alt="Mastercard" />
            </div>


            <div class="flex items-center gap-3">
                <h3 class="text-sm font-medium">Get Deliveries with FreshCart:</h3>
                <a href="https://play.google.com/store" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
                        width="130" alt="Google Play" />
                </a>
                <a href="https://www.apple.com/app-store/" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/App_Store_%28iOS%29.svg" width="80"
                        alt="Apple Store" />
                </a>
            </div>
        </div>
    </div>
</footer>